* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: #fafbfd;
}
header {
  background: #ff7d56;
  display: flex;
}
.brand-details {
  display: flex;
  align-items: center;
  flex: 0.2;
}
header h1 {
  color: #fff;
  align-items: center;
  margin-left: 40px;
}
header ul {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
header ul a {
  display: block;
  padding: 2rem;
  color: #fff;
}
header ul a:hover {
  background: #fff;
  color: #ff7d56;
}
@media screen and (max-width: 750px) {
  header {
    position: relative;
  }
  #brand-details {
    flex: 1;
  }
  header nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #ff7d56;

    max-height: 0;
    overflow: hidden;
    margin: 0;
  }
  header nav.show {
    max-height: 100%;
    overflow: visible;
    transition: all 0.25s ease-in-out;
  }
  header nav ul {
    flex-direction: column;
    background: #ff7d56;
  }
  .nav-icon {
    display: block;
  }
}
.cart-icon{
  position: fixed;
  margin-top: -47%;
  margin-right: -95%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: whitesmoke;

}
.slider-head{
  position: absolute;
  margin-top: -45%;
  display: flex;
  justify-content: center;
  color: #ff8533;

}
.section-area{
  background-color: #fff;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: 7px 9px 9px 9px rgba(65,64,71,0.041);
  padding: 3rem 2rem;
  margin: 2rem auto;
}
.slider{
  width: 800px;
  height: 500px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input{
 display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{ 
  width: 500px;
  height: 500px;
}
.manu-nav{
  position: absolute;
  width: 800px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.manu-btn{
  border: 3px solid skyblue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.slides h1{
  color: black;
  justify-content:right;
}
.manu-btn:not(:last-child){
  margin-right: 40px;
}
.manu-btn:hover{
  background: skyblue;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -80%;
}
.auto-nav{
  position: absolute;
  width: 800px;
  margin-top: 520px;
  display: flex;  
  justify-content: center;
}
.auto-nav div{
  border: 3px solid skyblue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.auto-nav div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked ~ .auto-nav .auto-btn1{
  background: skyblue;
}
#radio2:checked ~ .auto-nav .auto-btn2{
  background: skyblue;
}
#radio3:checked ~ .auto-nav .auto-btn3{
  background: skyblue;
}
#radio4:checked ~ .auto-nav .auto-btn4{
  background: skyblue;
}
#radio5:checked ~ .auto-nav .auto-btn5{
  background: skyblue;
}
.cart_icon{
  cursor: pointer;
  padding: 5rem;
  margin: 0;
  position: top;

}
footer {
  background-color: #ff7d56;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #f9fafa;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 200px;
  position: fixed;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-text h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-text p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.link-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.link-items li {
  margin: 0 10px;
}
.link-items a {
  text-decoration: none;
  color: #f9fafa;
  transition: color 0.4s ease;
}
.footer-bottom {
  padding: 10px;
  background-color: #3f3f3f;
  text-align: center;
  font-size: 18px;
  word-spacing: 2px;
  bottom: 0;
  width: 100%;
  color: #f9fafa;
}
